
<div class=" d-flex flex-column justify-content-center align-items-center" >
<span class="card-header-action"><img (click)="onClose()" src='https://img.icons8.com/ios/50/000000/circled-left.png' style="width: 25px; height: 25px; cursor: pointer;" />
  <h2 style='display:inline;'>Product Details</h2></span>
  <div class="card mt-4 " style=" width: 20rem;">
  <div class="card-header">
    {{detailsProduct.blend_name}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Origin : {{detailsProduct.origin}}</li>
    <li class="list-group-item">variety : {{detailsProduct.variety}}</li>
    <li class="list-group-item">notes : {{detailsProduct.notes}}</li>
    <li class="list-group-item">intensifier :{{detailsProduct.intensifier}}</li>
  </ul>
</div>
</div>
