
<div *ngIf="isLoading$ | async" class="text-center">
  <img
  src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/c72ad275091223.5c42e83f85011.gif"
  class="img-fluid mt-4 " alt="Responsive image" style="width: 200px; height: 200px;">
</div>
<div class="container">
<div class="m-2" *ngIf="!(isLoading$ | async)" >
  <h2 class="text-center">Coffee Products</h2>
  <table class="table ml-3 mr-3">
      <thead class="thead-light">
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Blend Name</th>
              <th scope="col">Origin</th>
              <th scope="col">Varity</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of products  | paginate: { id: 'foo',
          itemsPerPage: 10,
          currentPage: page,
          totalItems: totalRecords }"
          (click)="onleftClick(item)"
          style="cursor: pointer;"
          >
              <th scope="row">{{item.id}}</th>
              <td>{{item.blend_name}}</td>
              <td>{{item.origin}}</td>
              <td>{{item.variety}}</td>
          </tr>
      </tbody>
  </table>
  <div>
    <pagination-controls id='foo' (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
<router-outlet></router-outlet>
</div>
