/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.navbar-center
{
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}
.card-header-action{
  display: flex;
  align-items: center;
  gap: 3rem;
}
